/* In questo modo i colori possono essere salvati come variabili scrivendo var("nome-variabile") */
:root {
  --colore-sfondo: #fafad2;
  --colore-bordo-tabella: #d2b48c;
  --colore-sfondo-tabella: white;
  --colore-sfondo-tabella-hover: lightyellow;
}

html {
  font-size: 32px;
}

body {
  background-color: var(--colore-sfondo);
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: top;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 4rem;
}

td,
tr {
  background-color: var(--colore-sfondo-tabella);
  width: 100px;
  height: 100px;
  padding: 8px;
  border-radius: 6px;
}

table {
  background-color: var(--colore-bordo-tabella);
}

.uno {
  border-radius: 10px;
  border: 3px solid red;
  padding: 10px;
}

.due {
  border-radius: 10px;
  border: 3px solid blue;
  padding: 10px;
}

.boxes:hover {
  background-color: var(--colore-sfondo-tabella-hover);
}

#reset {
  margin-top: 4rem;
  border: 2px solid #880000;
  background-color: #a00000;
  border-radius: 10px;
}
