body {
  background-color: #fafad2;
  text-align: center;
}

td,
tr {
  background-color: white;
  padding: 8px;
  border-radius: 6px;
}

table {
  margin: 0 auto;
  width: 50%;
  height: 50%;
  min-width: 550px;
  background-color: #d2b48c;
  float: middle;
}

.uno {
  border-radius: 10px;
  border: 3px solid red;
  padding: 10px;
}

.due {
  border-radius: 10px;
  border: 3px solid blue;
  padding: 10px;
}

.boxes:hover {
  background-color: lightyellow;
}

#reset {
  border: 2px solid #880000;
  background-color: #a00000;
  border-radius: 10px;
}
